<section id="experience">
  <div class="container">
    <!-- section title -->
    <h2 class="section-title fadeInUp">Experience</h2>
    <div class="spacer" style="height: 60px"></div>
    <!-- timeline wrapper -->
    <div class="row">
      <div class="flex-row col-md-6">
        <div
          class="timeline edu bg-white rounded shadow-dark padding-30 overflow-hidden"
          *ngFor="let timeline of edu"
        >
          <!-- timeline item -->
          <div class="timeline-container fadeInUp">
            <div class="content">
              <span class="time">{{timeline.time}}</span>
              <h3 class="title">{{timeline.title}}</h3>
              <p>{{timeline.description}}</p>
            </div>
          </div>
          <!-- main line -->
          <span class="line"></span>
        </div>
      </div>
      <div class="flex-row col-md-6">
        <div class="timeline exp bg-white rounded shadow-dark padding-30 overflow-hidden">
          <!-- timeline item -->
          <div class="timeline-container fadeInUp" *ngFor="let timeline of exp">
            <div class="content">
              <span class="time">{{timeline.time}}</span>
              <h3 class="title">{{timeline.title}}</h3>
              <h6>{{timeline.position}}</h6>
              <p>{{timeline.description}}</p>
            </div>
          </div>
          <!-- main line -->
          <span class="line"></span>
        </div>
      </div>
    </div>
  </div>
</section>
