<section id="blog">
  <div class="container">
    <!-- section title -->
    <h2 class="section-title fadeInUp">Latest Posts</h2>
    <div class="spacer" style="height: 60px"></div>
    <div class="row blog-wrapper">
      <div class="col-md-4" *ngFor="let blog of blogs">
        <!-- blog item -->
        <div class="blog-item rounded bg-white shadow-dark fadeIn">
          <div class="thumb">
            <a href="#">
              <span class="category">{{blog.category}}</span>
            </a>
            <a href="#">
              <img src="{{blog.thumbnail}}" alt="blog-title">
            </a>
          </div>
          <div class="details">
            <h4 class="my-0 title max-line"><a
              href="{{blog.href}}" target="_blank">{{blog.title}}</a></h4>
            <ul class="list-inline meta mb-0 mt-2">
              <li class="list-inline-item">{{blog.createdAt}}</li>
              <li class="list-inline-item">{{blog.author}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
